<div class="copy-block">
  <p class="copy-block-text">{{ include.content | escape }}</p>
  {% if include.available %}<p class="copy-block-available">{{ site.data.i18n[site.language].works_best_in | default: "Works best in:" }} {{ include.available }}</p>{% endif %}
  <span class="copy-feedback"></span>
  <button class="btn copy-block-btn" data-clipboard-text="{{ include.content | escape }}" title="{{ site.data.i18n[site.language].copy_to_clipboard | default: "Copy to clipboard" }}" aria-label="{{ site.data.i18n[site.language].copy_to_clipboard | default: "Copy to clipboard" }}">
    <i class="fas fa-copy" aria-hidden="true"></i>
  </button>
</div>
