<div class="copy-block">
  <p class="copy-block-text">{{ include.content }}</p>
  {% if include.available %}<p class="copy-block-available">{{ site.data.i18n[site.language].works_best_in | default: "Works best in:" }} {{ include.available }}</p>{% endif %}
  <span class="copy-feedback"></span>
  <button class="btn copy-block-btn" data-clipboard-text="{{ include.content | escape }}" title="Copy to clipboard">
    <img class="clippy" src="{{ site.baseurl }}/assets/img/copy_icon.png" alt="Copy to clipboard" style="max-width:30px;max-height:30px;">
  </button>
</div>
