#api-main {
  #api_filter {
    #api_search {
      background-image: url(#{$base_url}/assets/img/search_black_shark.svg) !important;
    }
  }
}


#glossary-main {
  #glossary_filter {
    #glossary_search {
      background-image: url(#{$base_url}/assets/img/search_black_shark.svg) !important;
    }
    .select {
        background-image: url(#{$base_url}/assets/img/dropdown.svg) !important;
    }
  }
}
#partner-main {
  #partner_filter {
    #partner_search {
      background-image: url(#{$base_url}/assets/img/search_black_shark.svg) !important;
    }
    .select {
        background-image: url(#{$base_url}/assets/img/dropdown.svg) !important;
    }
  }
}