{%- assign loc = site.data.i18n[site.language] -%}
{%- assign i18n_en = site.data.i18n.en -%}
{%- assign glossary_page_title = glossary_page_title | default: page.article_title | default: page.nav_title -%}
{%- if glossary_page_title == blank -%}
  {%- assign glossary_page_title = loc.customer_behavior_events_glossary_title | default: i18n_en.customer_behavior_events_glossary_title -%}
{%- endif -%}
<h1>{{ glossary_page_title }}</h1>
<p class="api_text">{{ loc.customer_behavior_events_glossary_intro | default: i18n_en.customer_behavior_events_glossary_intro }}</p>
